.stats {
	display: flex;
	margin: 0 auto;
	padding: 0 5px;
	width: 300px;
	flex-flow: row wrap;
	justify-content: center;
}

.stats p span {
	font-weight: bold;
}

.stats p:nth-of-type(1) span,
.stats p:nth-of-type(3) span {
	color: #61dafb;
}

.stats p:nth-of-type(2) span {
	color: #f44336;
}

.stats p {
	margin: 0 8px;
}

.stats p:nth-of-type(4) {
	margin-top: 0;
}
